@font-face {
  font-family: "LatoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LatoLight.woff") format("woff");
}

@font-face {
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LatoRegular.woff") format("woff");
}

@font-face {
  font-family: "LatoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/LatoBold.woff") format("woff");
}

html {
  font-size: 10px;
}

.title {
  font-family: "LatoBold";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.2rem;
  padding: 0 4rem;
  margin-bottom: 4rem;
}

.text {
  font-family: "LatoLight";
  font-size: 1.6rem;
  color: #3c3c3c;
  line-height: 1.5;
}

/*Header styls*/

header {
  margin: 0 auto;
  background: url(../img/hero_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .header__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    .header__logo {
      width: 6.9rem;
      margin: 0 auto 9.4rem auto;
    }

    .header__heading {
      text-transform: uppercase;
      font-family: "LatoBold";
      font-size: 5.4rem;
      color: #fff;
    }

    .header__paragraph {
      text-transform: uppercase;
      font-family: "LatoRegular";
      font-size: 1.5rem;
      color: #fff;
      line-height: 2.5;
    }
  }
}

/*first section styls*/

.about_us {
  margin: 0 auto;

  .about_us__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .brd {
    border: 2px solid #3c3c3c;
  }
}

/*second section styls*/

.services {
  margin: 0 auto;
  background: url(../img/services_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

  .services__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .brd {
    border: 2px solid #fff;
  }

  .title {
    color: #fff;
  }

  .text {
    color: #fff;
  }
}

/*third section styls*/

.what_we_do {
  margin: 0 auto;
}

.what_we_do_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  .brd {
    border: 2px solid #3c3c3c;
  }

  .title {
    font-size: 3.4rem;
  }

  h3 {
    font-family: "LatoBold";
    font-size: 2rem;
    color: #3c3c3c;
    text-transform: uppercase;
    padding: 4rem 0 4rem 0;
  }

  .text {
    font-size: 1.4rem;
  }

}

/*fourth section styls*/
.content {
  justify-content: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 7.65% 20.89% 20.89% 7.65%;
  grid-template-rows: 237px 237px 237px 237px;
  gap: 10px 10px;
  grid-template-areas:
    "first first third third"
    ". second second ."
    ". fifth fifth ."
    "fourth fourth sixth sixth";
}

.first {
  grid-area: first;
  background: url(../img/grid_div/1.jpg) no-repeat;
  display: flex;
}

.second {
  grid-area: second;
  background: url(../img/grid_div/2.jpg) no-repeat;
  display: flex;
}

.third {
  grid-area: third;
  background: url(../img/grid_div/3.jpg) no-repeat;
  display: flex;
}

.fourth {
  grid-area: fourth;
  background: url(../img/grid_div/4.jpg) no-repeat;
  display: flex;
}

.fifth {
  grid-area: fifth;
  background: url(../img/grid_div/5.jpg) no-repeat;
  display: flex;
}

.sixth {
  grid-area: sixth;
  background: url(../img/grid_div/6.jpg) no-repeat;
  display: flex;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
  font-family: "LatoBold";
  font-size: 3.4rem;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 0px) and (max-width: 480px) {
  /*html {
    font-size: 9px;
  }*/

  /*Header styls*/
  header {
    max-width: 48rem;

    .header__container {
      width: 90%;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .header__heading {
      margin-bottom: 4.3rem;
    }

    .header__paragraph {
      padding-bottom: 8.5rem;
    }
  }

  /*first section styls*/
  .about_us {
    max-width: 48rem;
  }

  .about_us__container {
    width: 90%;
    margin: 2rem auto;

    :nth-child(2) {
      margin: 0 2rem 4rem;
    }

    :nth-child(3) {
      margin: 0 2rem 3rem;
    }
  }

  /*first section styls*/
  .services {
    max-width: 48rem;
    padding: 5rem 0 5rem 0;
  }

  .services__container {
    width: 90%;
    margin: 0 auto;

    .text {
      margin: 0 2rem 3rem;
    }
  }

  /*third section styls*/
  .what_we_do {
    max-width: 48rem;
    padding: 5rem 0 5rem 0;
  }

  .what_we_do_container {
    width: 90%;

    h3 {
      padding: 4rem 0 4rem 0;
    }

    .text {
      margin: 0 2rem 3rem;
    }
  }

  /*fourth section styls*/

  .content {
    max-width: 48rem;
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {

  /*Header styls*/

  header {
    min-width: 48.1rem;
    max-width: 76.7rem;

    .header__container {
      width: 90%;
      padding-top: 7rem;
      padding-bottom: 7rem;

      .header__heading {
        margin-bottom: 5.3rem;
      }

      .header__paragraph {
        padding-bottom: 13.5rem;
      }

      .header__scroll {
        padding-bottom: 11.5rem;
      }
    }
  }

  /*first section styls*/

  .about_us {
    min-width: 48.1rem;
    max-width: 76.7rem;
  }

  .about_us__container {
    width: 80%;
    margin: 5rem auto;

    :nth-child(2) {
      margin: 0 5rem 4rem;
    }

    :nth-child(3) {
      margin: 0 5rem 3rem;
    }
  }

  /*second section styls*/

  .services {
    min-width: 48.1rem;
    max-width: 76.7rem;
    padding: 5rem 0 5rem 0;
  }

  .services__container {
    width: 80%;

    .text {
      margin: 0 8rem 3rem;
    }
  }

  /*third section styls*/

  .what_we_do {
    min-width: 48.1rem;
    max-width: 76.7rem;
    padding: 5rem 0 5rem 0;
  }

  .what_we_do_container {
    width: 80%;

    h3 {
      padding: 4rem 0 4rem 0;
    }

    .text {
      margin: 0 8rem 3rem;
    }
  }

  /*fourth section styls*/

  .content {
    min-width: 48.1rem;
    max-width: 76.7rem;
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /*Header styls*/

  header {
    min-width: 76.8rem;
    max-width: 99.1rem;

    .header__container {
      width: 80%;
      padding-top: 11.5rem;
      padding-bottom: 11.5rem;

      .header__logo {
        margin-bottom: 9.4rem;
      }

      .header__heading {
        margin-bottom: 5.3rem;
      }

      .header__paragraph {
        padding-bottom: 15.5rem;
      }

      .header__scroll {
        padding-bottom: 11.5rem;
      }
    }
  }

  /*first section styls*/

  .about_us {
    min-width: 76.8rem;
    max-width: 99.1rem;
  }

  .about_us__container {
    width: 70%;
    margin: 5rem auto;

    :nth-child(2) {
      margin: 0 8rem 4rem;
    }

    :nth-child(3) {
      margin: 0 11.5rem 3rem;
    }
  }

  /*second section styls*/

  .services {
    min-width: 76.8rem;
    max-width: 99.1rem;
    padding: 5rem 0 5rem 0;
  }

  .services__container {
    width: 70%;

    .text {
      margin: 0 8rem 3rem;
    }
  }

  /*third section styls*/

  .what_we_do {
    min-width: 76.8rem;
    max-width: 99.1rem;
    padding: 5rem 0 5rem 0;
  }

  .what_we_do_container {
    width: 70%;

    h3 {
      padding: 4rem 0 4rem 0;
    }

    .text {
      margin: 0 8rem 3rem;
    }
  }

  /*fourth section styls*/

  .content {
    min-width: 76.8rem;
    max-width: 99.1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 28.54% 41.77% 28.65%;
    grid-template-rows: 237px 237px;
    gap: 10px 10px;
    grid-auto-flow: dense;
    grid-template-areas:
      "first second third"
      "fourth fifth sixth";
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    padding: 17rem 0 0 4.2rem;
    font-size: 2.4rem;
  }
}

@media (min-width: 992px) and (max-width: 1261px) {

  /*Header styls*/

  header {
    min-width: 99.2rem;
    max-width: 126.1rem;

    .header__container {
      width: 80%;
      padding-top: 11.5rem;
      padding-bottom: 11.5rem;

      .header__heading {
        margin-bottom: 5.3rem;
      }

      .header__paragraph {
        padding-bottom: 17.5rem;
      }

      .header__scroll {
        padding-bottom: 11.5rem;
      }
    }
  }

  /*first section styls*/

  .about_us {
    min-width: 99.2rem;
    max-width: 126.1rem;
  }

  .about_us__container {
    width: 70%;
    margin: 5rem auto;

    :nth-child(2) {
      margin: 0 8rem 4rem;
    }

    :nth-child(3) {
      margin: 0 8rem 3rem;
    }
  }

  /*second section styls*/

  .services {
    min-width: 99.2rem;
    max-width: 126.1rem;
    padding: 5rem 0 5rem 0;
  }

  .services__container {
    width: 70%;

    .text {
      margin: 0 8rem 3rem;
    }
  }

  /*third section styls*/

  .what_we_do {
    min-width: 99.2rem;
    max-width: 126.1rem;
    padding: 5rem 0 5rem 0;
  }

  .what_we_do_container {
    width: 70%;

    h3 {
      padding: 4rem 0 4rem 0;
    }

    .text {
      margin: 0 8rem 3rem;
    }
  }

  /*fourth section styls*/

  .content {
    min-width: 99.2rem;
    max-width: 126.1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 28.54% 41.77% 28.65%;
    grid-template-rows: 237px 237px;
    gap: 10px 10px;
    grid-auto-flow: dense;
    grid-template-areas:
      "first second third"
      "fourth fifth sixth";
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    padding: 17rem 0 0 4.2rem;
  }
}

@media (min-width: 1262px) {

  /*Header styls*/

  header {
    min-width: 126.2rem;
    max-width: 192rem;

    .header__container {
      width: 47%;
      padding-top: 28.3rem;
      padding-bottom: 11.5rem;

      .header__heading {
        margin-bottom: 5.3rem;
      }

      .header__paragraph {
        padding-bottom: 19.5rem;
      }

      .header__scroll {
        padding-bottom: 11.5rem;
      }
    }
  }

  /*first section styls*/

  .about_us {
    min-width: 126.2rem;
    max-width: 192rem;
  }

  .about_us__container {
    width: 47%;
    margin: 16rem auto;

    :nth-child(2) {
      margin: 0 18rem 4rem;
    }

    :nth-child(3) {
      margin: 0 21.5rem 3rem;
    }
  }

  /*second section styls*/

  .services {
    min-width: 126.2rem;
    max-width: 192rem;
    padding: 11rem 0 11rem 0;
  }

  .services__container {
    width: 47%;

    .text {
      margin: 0 19.5rem 3rem;
    }
  }

  /*third section styls*/

  .what_we_do {
    min-width: 126.2rem;
    max-width: 192rem;
    padding: 12rem 0 12rem 0;
  }

  .what_we_do_container {
    width: 47%;

    h3 {
      padding: 4rem 0 4rem 0;
    }

    .text {
      margin: 0 19.5rem 11.2rem;
    }
  }

  /*fourth section styls*/

  .content {
    min-width: 126.2rem;
    max-width: 192rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 28.54% 41.77% 28.65%;
    grid-template-rows: 237px 237px;
    gap: 10px 10px;
    grid-auto-flow: dense;
    grid-template-areas:
      "first second third"
      "fourth fifth sixth";
  }

  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth {
    padding: 17rem 0 0 4.2rem;
  }
}